<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>fr.epsi.myEpsi</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>Inscription</servlet-name>
    <servlet-class>fr.epsi.myEpsi.servlet.Inscription</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Inscription</servlet-name>
    <url-pattern>/inscription</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Connexion</servlet-name>
    <servlet-class>fr.epsi.myEpsi.servlet.ConnexionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Connexion</servlet-name>
    <url-pattern>/</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ListeMessages</servlet-name>
    <servlet-class>fr.epsi.myEpsi.servlet.ListeDeMessages</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListeMessages</servlet-name>
    <url-pattern>/listemessages</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ListeUtilisateurs</servlet-name>
    <servlet-class>fr.epsi.myEpsi.servlet.ListeDesUtilisateurs</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListeUtilisateurs</servlet-name>
    <url-pattern>/listedesutilisateurs</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>NewMessage</servlet-name>
    <servlet-class>fr.epsi.myEpsi.servlet.NewMessage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NewMessage</servlet-name>
    <url-pattern>/newmessage</url-pattern>
  </servlet-mapping>
</web-app>